<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        @page {
            margin: 46px;
        }

        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
            color: #3E3832;
            font-style: normal;
        }

        h1, h2 {
            font-weight: 500;
            page-break-after: avoid;
        }

        h1 {
            font-size: 24px;
            line-height: 28px;
        }

        h2 {
            font-size: 20px;
            line-height: 25px;
            margin-top: 48px;
        }

        h3 {
            margin-bottom: 0px;
            font-size: 14px;
            font-weight: bold;
        }

        p {
            width: 66%;
            margin-top: 0px;
            font-family: Source Sans Pro;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #3E3832;
        }

        a {
            width: 66%;
            margin-top: 0px;
            display: inline;
            margin-bottom: 1em;
            font-family: Source Sans Pro;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #3E3832;
        }

        .avoidPageBreakInside {
            page-break-inside: avoid;
        }

        .pageBreak {
            page-break-after: always;
        }
    </style>
    <title>{{ doctitle }}</title>
</head>
<body>
<h1>{{ heading }}</h1>
{{#each items }}
    {{#if title }}
        <h3>{{ title }}</h3>
    {{/if}}
    {{#eq type 'HEADER' }}
        <h2>
            {{#each texts }}
                {{ this }}<br/>
            {{/each}}
        </h2>
    {{else eq type 'LINK' }}
        {{#each texts }}
            <p><a href="{{ this }}">{{ this }}</a></p>
        {{/each}}
    {{else}} <!-- eq type PARAGRAPH -->
        <p>
            {{#each texts }}
                {{ breaklines this }}<br/>
            {{/each}}
        </p>
    {{/eq}}
{{/each}}
</body>
</html>
